 SECTION A

A1

In [10]:
a = int(input("enter a number"))
if a % 2== 0:
    print("the number is even")
else:
    print("odd")

enter a number 54598

the number is even

A2

In [18]:
grade = float(input("enter the marks here"))
if grade >= 90:
    print("grade A")
elif grade >= 80:
    print("grade B")
elif grade >= 65:
    print("grade C")
elif grade >= 45:
    print("grade D")
else:
    print("Fail")

enter the marks here 21.5

Fail

A3

In [24]:
num = int(input("Enter a  number"))
if num > 0:
    print("postive")
elif num < 0:
    print("Negative")
else:
    print("its 0")

Enter a  number -1

Negative

A4

A5

In [27]:
a1 = int(input("Enter Number 1 :"))
a2 = int(input("Enter Number 2 :"))
a3 = int(input("Enter Number 3 :"))

print("Small number from the three :", min(a1,a2,a3))

Enter Number 1 : 24
Enter Number 2 : 26
Enter Number 3 : 25

Small number from the three : 24

A6 Create a Password Validator (Password: Python123)

In [33]:
passw = input("Enter a password")

if passw == "Python123" :
    print("password Granted")
else:
    print("password rejected")

Enter a password python123

password rejected

A7. Create a Simple Calculator using +, -, *, /

num1 = float(input("enter a number"))
op = input("operations +,-,*,/")
num2 = float(input("enter a number"))

if op == "+":
    print( num1 + num2 )
elif op == "-":
    print(num1 - num2 )
elif op == "*":
    print(num1 * num2)
elif op == "/":
    if num2 != 0:
        print( num1 / num2)
    else:
        print(" cannot divide by 0")
else:
    print("invalid input")

A8. Write a program to check Voting Eligibility (age >= 18)

In [44]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are eligible for vote")
else:
    print("you are not eligible for vote")

Enter your age :  18

You are eligible for vote

A9. Write a program to check Character Type (Vowel/Consonant/Other)

In [57]:
ch = input("Enter a charachter").lower()

if ch in "aeiou":
    print("vowles")
elif ch.isalpha():
    print("consonents")
else:
    print("others")

Enter a charachter U

vowles

A10. Write a program to check Weekend or Weekday

In [68]:
week = input("Enter a day in week").lower()
if week in ["saturday","sunday"]:
    print("weekend")
else:
    print("weekday")

Enter a day in week Saturday

weekend

SECTION B – List Operations

In [2]:
l = [1,22,3,44,55,6,11,1200]

B1. Insert 4 at 6th index.

In [3]:
l.insert(4, 6)
print(l)

[1, 22, 3, 44, 6, 55, 6, 11, 1200]

B2. Remove value 44

In [4]:
l.remove(44)
l

[1, 22, 3, 6, 55, 6, 11, 1200]

B3. Append 88

In [5]:
l.append(88)
l

[1, 22, 3, 6, 55, 6, 11, 1200, 88]

B4. Remove element at 2nd index.

In [6]:
l.pop(1)
l

[1, 3, 6, 55, 6, 11, 1200, 88]

B5. Merge m = [1, 2, 3, 546] with l.

In [7]:
m = [1,2,3,546]
l.extend(m)
l

[1, 3, 6, 55, 6, 11, 1200, 88, 1, 2, 3, 546]

SECTION C – String Operations

In [1]:
s = "HelloWorld"

C1. Insert "Python" at 6th index.

C2. Remove "World".

In [2]:
s= s.replace("World","")
s

'Hello'

C3. Append "2024".

In [3]:
s= s + "2024"
s

'Hello2024'

C4. Remove character at 2nd index

In [4]:
s = s[:2] + s[3:]
s

'Helo2024'

C5.Concatenate t = "Programming"

In [5]:
t = "programming"
s= s+t
s

'Helo2024programming'

SECTION D – Programs with Sample Input & Output

D3. Simple Login System (Username: admin, Password: 1234)

In [7]:
username = input("Enter your username : ")
password = input("Enter your password : ")

if username == "admin" and password == "1234":
    print("Successfully login in")
else:
    print("Password is Error Please try again")

Enter your username :  admin
Enter your password :  1234

Successfully login in